:root {
  --aside-width: 500px;
  --aside-width-small: 405px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 300px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
  --color-grey: #e2e2e2;
  --color-hover: #acacac;
  --color-section-backgrounds: #a2a2a2;
  --color-stroke-color: #e7e7e7;
  --color-dimmer: rgba(0, 0, 0, 0.2);
  --main-margin-top: 40px;
}

img {
  border-radius: none;
}

@font-face {
  font-family: 'regular';
  src: url('../assets/fonts/regular.woff2') format('woff2'),
    url('../assets/fonts/regular.woff') format('woff');
}

@font-face {
  font-family: 'medium';
  src: url('../assets/fonts/medium.woff2') format('woff2'),
    url('../assets/fonts/medium.woff') format('woff');
}
body,
button,
input::placeholder,
input {
  font-family: 'regular';
}
input[type='search' i]::-webkit-search-cancel-button {
  appearance: none;
}
.divider {
  margin-block: 1.4rem;
  height: 1px;
  width: 100%;
  background: var(--color-stroke-color);
}
/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); */
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}
aside * {
  font-size: 13px;
}

aside#submenu {
  right: auto;
  top: var(--header-height);
  box-shadow: none;
  max-width: 304px;
  min-width: 304px;
}
aside#subscribe {
  top: var(--header-height);
  right: 0;
  box-shadow: none;
  height: auto;
  border-top: 1px solid var(--color-dimmer);
}
aside#subscribe,
aside#location {
  min-width: var(--aside-width-small);
  max-width: var(--aside-width-small);
}
aside#location {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}
aside#search {
  min-width: 100vw;
  max-width: 100vw;
  top: var(--header-height);
  height: var(--header-height);
  right: auto;
  border-top: 1px solid var(--color-dimmer);
}
aside#size-guide {
  min-width: calc(2rem + 424px);
  max-width: calc(2rem + 424px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  height: auto;
}

aside header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 1.3rem;
}
aside#submenu header,
aside#mobile header {
  display: none;
}
aside#subscribe header,
aside#location header {
  height: auto;
  margin-top: 1rem;
  padding-inline: 2rem;
}
aside#subscribe header {
  padding-right: 1rem;
}

aside header p {
  margin: 0;
  font-family: 'medium';
}

aside header input {
  border: none;
  width: 95vw;
}
aside header input:focus-visible {
  outline: none;
}

aside header .close {
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  text-decoration: none;
  cursor: pointer;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1.25rem;
}
aside#subscribe main {
  margin: 1rem 2rem 2rem;
  padding-right: 5rem;
}
aside#location main {
  margin: 1rem 2rem 2rem;
}

aside p {
  /* margin: 0 0 0.25rem; */
  font-family: 'regular' !important;
  font-weight: normal !important;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: var(--color-dimmer);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 400ms ease-in-out;
  transition: all 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay:has(> aside#submenu),
.overlay:has(> aside#subscribe),
.overlay:has(> aside#search) {
  top: var(--header-height);
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}
.overlay:has(> aside#submenu) .close-outside {
  left: auto;
  right: 0;
  width: calc(100% - 304px);
}
.overlay:has(> aside#location) .close-outside,
.overlay:has(> aside#search) .close-outside,
.overlay:has(> aside#size-guide) .close-outside {
  inset: 0;
  width: auto;
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}
.overlay.expanded aside#submenu,
.overlay.expanded aside#subscribe,
.overlay.expanded aside#search {
  transform: translateX(0);
}
.checkbox-container {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.checkbox-container * {
  cursor: pointer;
}
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 9px;
  height: 9px;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
  padding: 0;
  border-radius: 0;
  margin: 0;
  margin-right: 7px;
  transition: background-color 200ms ease-in-out;
}
input[type='checkbox']:checked {
  background-color: black !important;
  border-color: black;
}

.email-input-container {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}
.email-input-container input {
  border: none;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  padding-left: 10px;
  width: 100%;
  color: black;
}
.email-input-container input:focus-visible {
  outline: none;
}
.email-input-container input::placeholder,
.subscribe-subtext,
.subscribe-subtext > a {
  color: var(--color-hover);
}
.email-input-container button {
  padding: 0;
  color: black;
}

.subscribe-subtext,
.subscribe-subtext > a {
  font-size: 10px;
}
.subscribe-subtext > a {
  text-decoration: underline;
}
.location-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.country-dropdown {
  position: relative;
  display: inline-block;
}

.location-select {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  background: #f3f3f3;
  padding-inline: 0.5rem;
  border-bottom: 1px solid black;
}

.country-dropdown-content {
  position: absolute;
  min-width: 160px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2),
    -8px -8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  padding-block: 0.25rem;
  background: white;
  max-height: 300px;
  overflow-y: auto;
}

.country-option {
  padding: 0.25rem 0.5rem;
}

.country-option:hover {
  background: var(--color-stroke-color);
}
.country-option:first-of-type {
  font-family: 'medium' !important;
}

.close-dropdown {
  border: none;
  position: absolute;
  inset: 0;
  background: transparent;
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: #fff;
  display: flex;
  height: var(--header-height);
  padding: 0 1.3rem;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  font-size: 13px;
}

.header-menu-mobile-toggle {
  padding: 0;
  @media (min-width: 48em) {
    display: none;
  }
}

.mobile-menu-alt-view-container {
  margin-top: 0.75rem;
}

.mobile-menu-back-btn-container {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-back-btn-container > strong {
  font-family: 'medium';
  font-weight: normal;
}
.mobile-menu-back-btn-container > button,
.mobile-menu-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding-block: 0;
  display: block;
  color: black;
}
.predictive-search-form > .mobile-menu-btn {
  display: inline;
}
aside#mobile .predictive-search-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
aside#mobile .predictive-search-form > div {
  width: 100%;
  display: flex;
  align-items: center;
}
aside#mobile .predictive-search-form > div > input {
  width: 95%;
  border: none;
  margin: 0;
  background-color: white;
}
aside#mobile .predictive-search-form > div > input:focus-visible {
  outline: none;
}
aside#mobile .predictive-search-form > div > label {
  margin-top: 0.25rem;
}
aside#mobile .predictive-search-form > button {
  margin: 0;
}
aside#mobile .header-menu-item,
.mobile-menu-btn {
  padding-left: 0;
}
.mobile-menu-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  color: black;
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 0.75rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
  }
}

.header-menu-item {
  cursor: pointer;
  font-size: 13px;
  padding-inline: 6px;
}
aside#submenu .header-menu-item:hover {
  color: var(--color-hover);
  text-decoration: none;
}
.header-menu-item:hover {
  text-decoration: underline;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
}
.header-ctas > button,
.header-ctas > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  font-family: 'regular';
  font-size: 13px;
}

.footer-links {
  display: flex;
  gap: 2.5rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-info {
  text-align: left;
  max-width: 22%;
}
.footer-info > p {
  font-family: 'regular';
  font-size: 13px !important;
}

.footer-heading {
  font-family: 'regular';
  font-size: 13px;
  color: rgb(177, 177, 177);
  margin-bottom: 0.25rem;
}
.footer-heading > a {
  color: inherit;
  cursor: pointer;
}

.footer-link-underline {
  text-decoration: underline;
}

.footer-header-submenu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  border-block: 1px solid var(--color-dimmer);
  width: 100vw;
  padding: 1rem 1.3rem;
  background: white;
  overflow: scroll;
  box-sizing: border-box;
}
.footer-header-submenu-nav {
  display: flex;
  grid-gap: 1rem;
  width: fit-content;
}
.footer-header-submenu-nav > .header-menu-item {
  position: relative;
  padding: 0;
}
.footer-header-submenu-nav > .header-menu-item > p {
  min-width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
}
.footer-header-submenu-nav > .header-menu-item::before {
  content: attr(data-text);
  font-family: 'medium'; /* Same as the active state */
  visibility: hidden;
  font-size: 13px;
  text-wrap: nowrap;
}
.footer-header-submenu-nav > .header-menu-item:hover {
  text-decoration: none;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 1.25rem;
  width: 40%;
}
.cart-details > div > ul {
  margin-left: 0 !important;
}
.cart-product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-line-quantity > form {
  display: none;
}
.cart-line-quantity > form:last-of-type {
  display: block;
}
.cart-line-quantity > form:last-of-type > button {
  all: unset;
  color: black;
  text-decoration: underline;
  text-transform: lowercase;
  cursor: pointer;
}
.cart-middle-details {
  margin-top: 1rem;
}
.cart-middle-details > p {
  text-transform: lowercase;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;

  margin-bottom: 1rem;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: 'medium';
  text-transform: lowercase;
}
.checkout-button {
  display: block;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-family: 'regular';
  text-transform: lowercase;
  text-decoration: none;
  border: 1px solid black;
  background: none;
  color: black;
  cursor: pointer;
  margin-top: 1rem;
}

.cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-count {
  position: absolute;
  font-size: 8px;
  font-weight: bold;
  margin-top: 0.25rem;
  color: black; /* Adjust color as needed */
}

.empty-cart-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.empty-cart-message {
  font-family: 'regular';
  font-size: 13px;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.hero-container {
  width: 100vw;
  /* height: 120vh; */
  background: grey;
  margin-left: -10vw;
  margin-bottom: 8rem;
  position: relative;
  display: flex;
}
.sticky-p {
  position: sticky;
  margin-bottom: 2rem;
  top: calc(100% - var(--header-height));
  margin-left: 1.3rem;
  font-size: 13px;
  color: white;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;

  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

.collection-links-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  font-family: 'medium';
}
.collection-links-container a {
  width: 45%;
}
.collection-links-container img {
  height: auto;
}
.collection-links-container > a > p {
  font-size: 13px !important;
  margin-top: 0.5rem;
}

.section-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10%;
  margin-bottom: 8rem;
}

.section-container:last-of-type {
  margin-bottom: 0;
}
.section-container img {
  width: 100%;
}
.section-container * {
  font-size: 13px;
}
/* .section-container:has(.section-text-container:has(img)) {
  justify-content: flex-start;
} */
.section-img-container {
  width: 45%;
}
.section-text-container:has(img) {
  width: 45%;
}
.section-text-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center !important;
}

.section-text-container > p:first-of-type {
  font-family: 'medium';
}
.section-text-container > div {
  margin-top: 4rem;
}
.section-text-container > a {
  text-decoration: underline;
}
/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* COMING SOON
* --------------------------------------------------
*/

.coming-soon-container {
  height: calc(100vh - var(--header-height));
  margin-top: calc(-1 * var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.null > .coming-soon-container {
  margin-top: calc(-2.25 * var(--header-height));
}

.coming-soon-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.coming-text,
.soon-text {
  font-size: 18px !important;
  text-transform: lowercase;
  font-family: 'regular';
}

.coming-soon-image {
  height: auto;
  margin: 0 0.5rem;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection,
.search {
  margin-top: var(--main-margin-top);
}
.collection * {
  font-size: 13px;
}
.collection > img {
  height: auto;
  margin-bottom: 1rem;
}
.collection-description {
  margin-bottom: 5rem;
  font-size: 13px;
}
.filter-container {
  width: 100%;
  padding-bottom: 3rem;
}
.filter-container * {
  font-size: 13px;
}
.filter-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.collection-breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
  width: fit-content;
}
.collection-breadcrumb svg {
  scale: 1.5;
}
.filter-toggle {
  cursor: pointer;
  width: 5rem;
  text-align: right;
}
.filter-body {
  display: flex;
  position: relative;
  /* z-index: -1; */
  /* gap: 21.5%; */
  justify-content: flex-start;
}
.filter-body > .divider {
  display: none;
}
.filter-columns-container {
  flex: 2;
}
.sort-column-container {
  flex: 1;
}
.filter-columns {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: clamp(20px, calc(10vw - 3rem), 200px);
}
.bold-filter-header {
  font-family: 'medium';
  margin-bottom: 2rem;
}
.filter-column-container > p {
  margin-bottom: 2rem;
}
.filter-column {
  max-height: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.sort-column-container > .filter-column {
  max-height: 10rem;
}
.filter-column input:disabled:hover {
  background-color: transparent;
}
.filter-column input:hover {
  background: black;
}
.filter-column > div {
  margin-bottom: 0.25rem;
  transition: opacity 200ms ease-in-out, text-decoration 200ms ease-in-out;
}

.products-grid {
  display: grid;
  grid-gap: 10px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-width), 1fr));
  margin: auto;
  margin-bottom: 8rem;
  z-index: 0 !important;
  position: relative;
  background: white;
}
@media (min-width: 1537px) {
  .products-grid {
    grid-template-columns: repeat(3, minmax(var(--grid-item-width), 1fr));
  }
}

.product-item img {
  height: auto;
  width: 100%;
}
.product-item > div > p {
  font-size: 13px !important;
}
.product-item > div > div {
  font-size: 12px !important;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: flex;
  gap: 2rem;
  margin-bottom: 4.5rem;
}

.product h1 {
  margin-top: 0;
}

.product-images {
  flex: 1;
  gap: 0;
  display: flex;
  flex-direction: column;
  margin-top: var(--main-margin-top);
  min-width: 50vw;
}
.product-images img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.product-image {
  display: flex;
}
.product-main {
  align-self: start;
  position: sticky;
  margin-top: 34px;
  width: 285px;
  top: calc(var(--header-height) + 34px);
}
.product-main * {
  font-family: 'regular' !important;
  font-size: 13px !important;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}
.product-options-title-container {
  display: flex;
  justify-content: space-between;
}
.product-options-title-container > button {
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.product-options-title,
.product-options-title-container > button {
  font-family: 'regular';
  font-size: 13px;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.5rem;
  font-family: 'regular' !important;
  font-size: 13px !important;
  margin-top: 0.5rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0;
  background-color: transparent;
  font-family: 'regular' !important;
  font-size: 13px !important;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border: none;
}
.product-options-item:not(:has(div)) {
  padding: 3px 5px 4px;
}

.product-option-label-swatch {
  width: 0.75rem;
  height: 0.75rem;
  margin: 2px;
}
.product-options:nth-of-type(2) .product-options-grid > button {
  border: none !important;
}

.product-option-label-swatch img {
  width: 100%;
}
.add-to-cart-form-pdp {
  font-size: 13px;
  font-family: 'regular';
  width: 100%;
  padding: 0.65rem 0.5rem;
  background: transparent;
  border: 1px solid black;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
  color: black;
}
.add-to-cart-form-pdp:hover {
  background: black;
  color: white;
}

.dropdown-container {
  width: 100%;
}

.dropdown {
  margin-bottom: 0.5rem;
  position: relative;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 13px;
  text-transform: lowercase;
  cursor: pointer;
  font-family: 'regular';
}

.dropdown-header.open .dropdown-title {
  text-decoration: underline;
}

.dropdown-title {
  flex: 1;
}

.icon {
  transition: transform 0.3s ease;
  display: inline-block;
}

.icon.open {
  transform: rotate(45deg);
}

.dropdown-content {
  font-family: 'regular';
  font-size: 13px;
  margin-top: 0.5rem;
}

.recs-title {
  font-family: 'medium';
  font-size: 13px;
  margin-bottom: 2rem;
}

.size-guide-table,
.size-guide-table th,
.size-guide-table td {
  border: 1px solid black;
  border-collapse: collapse;
}
.size-guide-table {
  text-align: center;
  font-size: 13px;
  margin-bottom: 3rem;
}
.size-guide-table th,
.size-guide-table tr > td:first-of-type {
  background: var(--color-stroke-color);
}
.size-guide-table th {
  width: 125px;
  height: 36px;
}
.size-guide-table th:first-of-type {
  width: auto;
  height: 36px;
}
.size-guide-table td:first-of-type {
  width: 56px;
  height: 36px;
}
/*
* --------------------------------------------------
* routes/pages.$handle.jsx
* --------------------------------------------------
*/

.page {
  margin: auto;
  margin-top: calc(var(--header-height) * 2);
  width: 60%;
  text-transform: lowercase;
}
.discover {
  width: 100%;
  margin-top: var(--header-height);
}
.page > main p:first-of-type {
  padding-top: 0;
}
.page * {
  font-size: 13px;
}
.page p,
.page ul {
  margin-bottom: 1rem;
}
.page ol {
  margin-bottom: 2rem;
}
.page-title {
  font-size: 20px;
  margin-bottom: 2rem !important;
}
.page strong {
  font-family: 'medium';
  font-weight: normal;
}
.page p:has(strong) {
  padding-top: 2rem;
}
.page a {
  text-decoration: underline;
}
.page a[href^='mailto:'] {
  color: var(--color-section-backgrounds);
  font-weight: bold;
}
.page li:has(ul) {
  font-family: 'medium';
}
.page li > ul {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-family: 'regular';
}
.page ul:not(:has(+ p > strong)) {
  margin-bottom: -0.25rem;
}
.page p:not(:has(strong)):has(+ ul) {
  margin-bottom: 0;
}
.page table {
  width: 100%; /* Makes the table stretch across the container */
  border-collapse: collapse; /* Ensures borders don’t double up */
  margin-bottom: 1rem;
}
.page th,
.page td {
  border: 1px solid black; /* Adds an outline to each cell */
  padding: 8px; /* Adds spacing inside cells */
  text-align: center;
  width: 50%;
}
.faq-section {
  margin-bottom: 3rem;
}
.faq-section .dropdown-header.open .dropdown-title {
  font-family: 'medium';
  text-decoration: none;
}
.faq-section .icon.open {
  transform: rotate(90deg);
}
.faq-section p {
  margin: 0;
}

.title-and-blurb,
.image-and-blurb,
.page .section-container,
.translations {
  margin-bottom: 200px !important;
}
.page > main > div:last-of-type {
  margin-bottom: auto;
}
.title-and-blurb:has(+ .translations) {
  margin-bottom: 1rem !important;
}
.title-and-blurb,
.translations {
  width: 45%;
}
.image-and-blurb > * {
  width: 100%;
}
.alt-mobile-photo {
  display: none;
}

.image-and-blurb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.image-and-blurb img,
.page .section-container img {
  height: auto;
  width: 100%;
}
.page .section-text-container > p:first-of-type {
  font-family: 'regular';
}

.page .section-text-container > div {
  margin-top: 1rem;
}

.page .section-text-container ol {
  margin-block: 1rem;
}
.translation {
  border: 1px solid var(--color-stroke-color);
  margin-bottom: 1rem;
  padding-inline: 1rem;
  padding-top: 0.5rem;
}
.translations .translation:last-of-type {
  margin-bottom: 0;
}
.translation h4 > * {
  font-weight: normal;
  font-size: 17px !important;
}
.translation h4 > span {
  opacity: 0.5;
}
.gallery-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  margin-left: -10vw;
}
.gallery {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: calc(100vh - (3 * var(--header-height)));
  transition: transform 750ms ease-in-out;
}
.gallery-image {
  position: relative;
  display: flex;
}
.gallery-image > img {
  height: 100%;
  width: auto !important;
}
.gallery-image > button {
  position: absolute;
  inset: 0;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

.mapped-indicators {
  display: none;
}

.route-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: calc(100vh - (3 * var(--header-height)));
}
.route-error > h2 {
  font-size: 240px;
  margin-bottom: -2rem;
}
.route-error p,
.route-error a {
  font-size: 13px;
}
/* 
MEDIA QUIERIES
*/
@media (min-width: 500px) {
  .you-may-also-like-container .product-item:last-of-type {
    display: none;
  }
  .header-image {
    display: none;
  }
  .cart-summary-aside {
    width: calc(var(--aside-width) - 40px);
  }
}
@media (max-width: 499px) {
  :root {
    --grid-item-width: 150px;
    --main-margin-top: 20px;
  }
  body > main {
    margin: 0 1.3rem 4rem 1.3rem;
    min-height: calc(100vh - var(--header-height) - 1.3rem);
  }
  .hero-container {
    margin-left: -1.3rem;
    margin-bottom: 4rem;
  }
  .hero-media {
    width: 100% !important;
    height: 75vh !important;
  }
  .hero-media:nth-child(2) {
    display: none;
  }
  .collection-links-container {
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .collection-links-container > a {
    width: 100%;
  }
  .section-container {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }
  .section-text-container {
    margin-top: 1rem;
    width: 100%;
  }
  .section-text-container > div {
    display: none;
  }
  .section-text-container:has(img) {
    width: 100%;
  }
  .section-img-container {
    width: 100%;
  }
  .filter-body,
  .filter-columns {
    flex-direction: column;
  }
  .filter-column {
    max-height: 6rem;
    align-content: flex-start;
    column-gap: 2rem;
  }
  .filter-column input:hover {
    background: inherit;
  }
  .filter-body > .divider {
    display: block;
  }
  .filter-body > .divider:first-of-type {
    margin-top: 0;
  }
  .filter-column-container > p {
    margin-bottom: 1rem;
  }
  .collection > img,
  .collection-description {
    display: none;
  }
  .divider {
    margin-block: 1.1rem;
  }
  .products-grid {
    row-gap: 20px;
    column-gap: 5px;
    margin-bottom: 0;
  }
  .product-options-grid {
    margin-left: 0.1rem;
  }
  .product-options-item:not(:has(div)) {
    padding: 0;
  }
  .product-options-grid > button {
    color: black !important;
    font-size: 13px !important;
  }
  .product-options-title-container > button {
    color: black !important;
    font-size: 13px !important;
  }
  .product-item > div:last-of-type {
    opacity: 1 !important;
  }
  .product {
    flex-direction: column;
    gap: 1.25rem;
    font-size: 13px !important;
  }
  .product-main {
    width: 100%;
    margin-top: 0;
    font-size: 13px !important;
  }
  .product-price > div {
    font-size: 12px !important;
  }
  .product-form > form > button {
    color: black;
    font-family: 'regular';
    font-size: 13px !important;
    font-weight: normal !important;
  }

  .product-images {
    width: 100%;
    /* height: 69vh; */
    position: relative;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    align-items: flex-end;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .product-images::-webkit-scrollbar {
    display: none;
  }
  .product-image {
    height: auto;
    scroll-snap-align: start;
  }
  .product-image img {
    width: calc(100vw - 2rem) !important;
    max-width: calc(999px * 0.5 + 2rem);
    aspect-ratio: auto !important;
    height: auto !important;
  }
  .mapped-indicators {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 0.2rem;
    margin: auto;
    bottom: 1rem;
    left: 1rem;
    position: absolute;
  }
  .page {
    width: 100%;
    margin-top: var(--main-margin-top);
  }
  .title-and-blurb,
  .image-and-blurb > * {
    width: 100% !important;
  }
  .title-and-blurb,
  .image-and-blurb,
  .page .section-container {
    margin-bottom: 4rem;
    width: 100%;
  }
  .image-and-blurb {
    flex-direction: column;
    gap: 2rem;
  }
  .alt-mobile-photo {
    display: block;
  }
  .image-and-blurb > div:has(.alt-mobile-photo) > img:first-of-type {
    display: none;
  }

  .gallery-container {
    width: 100%;
    margin-left: auto;
  }
  .gallery {
    flex-direction: column;
    height: auto;
    transform: translateX(0) !important;
  }
  .gallery-image {
    opacity: 1 !important;
  }
  .gallery-image > img {
    height: auto;
    width: 100%;
  }
  .gallery-image > button {
    display: none;
  }

  .footer {
    display: block;
    font-size: 13px !important;
  }
  .footer-links {
    flex-direction: column;
    gap: 2.5rem;
  }
  .footer-heading,
  .footer-info > p {
    font-size: 13px !important;
  }
  .footer-column {
    width: 100%; /* Full width columns */
  }

  .footer-info {
    order: 2;
    width: 100%;
    max-width: 100%;
    margin-top: 2.5rem;
  }

  .footer-column:last-of-type {
    margin-left: 0;
  }
  .footer-header-submenu-nav > .header-menu-item:first-of-type {
    padding-left: 0;
  }
  .footer-header-submenu-nav > .header-menu-item:last-of-type {
    padding-right: 0;
  }
  .coming-soon-container {
    margin-top: 0 !important;
    align-items: flex-start;
  }
  .coming-soon-content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
  }

  .coming-soon-mobile-text {
    font-size: 13px;
    font-family: 'regular';
    text-transform: lowercase;
  }

  .coming-soon-image-mobile {
    width: 100%;
    height: auto;
  }

  .header-ctas > button {
    display: none;
  }

  #cart {
    height: calc(100% - var(--header-height));
  }
  .cart-summary-aside {
    width: 89%;
  }
  .cart-details > div > ul {
    margin-bottom: 4rem;
  }
  aside {
    min-width: 100%;
    max-width: 100%;
    margin-top: var(--header-height);
    right: auto;
  }
  .overlay {
    background: none;
    margin-top: 10rem;
  }
  .overlay.expanded aside {
    transform: translateX(0);
  }
  .overlay:has(> aside#size-guide) {
    margin: 0;
    background: var(--color-dimmer);
  }
  aside#size-guide {
    bottom: -423px;
    top: auto;
    left: auto;
    transform: translate(0%, 0%);
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
    height: min-content;
  }
  .size-guide-table {
    width: 100%;
  }
  .size-guide-table td:first-of-type {
    width: 13%;
  }
  .size-guide-table th {
    width: 29%;
  }
  .overlay.expanded aside#size-guide {
    transform: translateY(-423px);
  }
  .route-error > h2 {
    font-size: 200px;
  }
}
